<h1>Let's get Started!</h1>

<h2>Try with your team!</h2>
<p> this will redirect to register -> team creation</p>
<a href="/auth/register" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create Your Team</a>

<h2>Team already here?</h2>
<p> this will redirect to login</p>
<a href="/auth/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Login</a>



