<form action="/auth/register" method="POST">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input id="firstName" class="form-control" type="string" name="firstName">
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input id="lastName" class="form-control" type="string" name="lastName">
    </div>
    <div class="form-group">
        <label for="nickName">Nickname</label>
        <input id="nickName" class="form-control" type="string" name="nickName">
    </div>
    <div class="form-group">
        <label for="birthday">Birthday</label>
        <input id="birthday" class="form-control" type="date" name="birthday">
    </div>
    <div class="form-group">
        <label for="authEmail">Email</label>
        <input id="authEmail" class="form-control" type="email" name="email">
    </div>
    <div class="form-group">
        <label for="authPassword">Password</label>
        <input id="authPassword" class="form-control" type="password" name="password">
    </div>
    <input class="btn" type="submit">
</form>
