<form action="/auth/team_register" method="POST">
    <div class="form-group">
        <label for="name">What is your the name of your team?</label>
        <input id="name" class="form-control" type="string" name="name">
    </div>
    <p> if you want to invite people, enter their emails below</p>

    <input class="btn" type="submit">
</form>