<form action="/auth/team_join" method="POST">

    <div class="form-group">
        <label for="name">What is your the name of the team you want to join?</label>
        <input id="name" class="form-control" type="string" name="name">
    </div>
    <input class="btn" type="submit">
</form>