<form method="POST" action="/project/<%= team.id %>/?_method=PUT">
    <label>Description</label>
    <input type="text" name="description" value="<%= project.name %>">
    <label>Due Date:</label>
    <input type="text" name="dateDue" value="<%= project.dateDue %>">
    <input type="submit">
</form>