<h1>Add a project to your goal</h1>


<form action="/pro" method="POST">
<div class="form-group">
    <label for="description">What is your new project?</label>
    <input id="description" class="form-control" type="text" name="description">
</div>
<div class="form-group">
    <label for="due-date">When should you finish this project by?</label>
    <input id="due-date" class="form-control" type="date" name="due-date">
</div>
<input class="btn" type="submit">
</form>


