<h1>This is the Homepage, this is where the Try button will be.</h1>
<p> I'll have a lil blurb about the app, what it is, what it does, why it's so cool.</p>

<a href="auth/get_started" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Try!</a>

<p>Down here we'll put another blurb about slack and the apps capabilities to integrate.</p>