<h1>Welcome to Project_Tracker, an app for small teams to celebrate big wins.</h1>

<p> Project_Tracker allows you and your team to create goals and track progress towards those goals collaboratively and simply. </p>

<a href="auth/get_started" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Try!</a>

<h2>Coming Soon:</h2>

<p>Project_Tracker incorporates a slack bot, project_tracker, that can alert your team when your goals are reached!  </p>