<h1> Team Goals</h1>
<h2> What are our Goals?</h2>

  <tbody>
<p> for each goal, list goals</p>
    <table>
  <thead>
</div>
  </thead>
    <tr>
      <td>goal name</td>
      <td>goal description</td>
      <td>link to edit</td>
      <td>link to destroy</td>
      <td>link to add a project</td>
    </tr>
  </tbody>
</table>

<h2> Where is our focus currently?</h2>

<table>
  <tbody>
  <p> for each project, list the project</p>
    <tr>
     <td>project name</td>
     <td><p> number of milestones</p></td>
     <td>link to add milestone to project</td>
     <td>link to edit project</td>
    </tr>
  </tbody>
</table>

<h2> Weekly Goals</h2>

          <ul style="list-style-type:none;">
            <li>crossed of milestones</li>
          </ul>

      <ul style="list-style-type:none;">
        <li> milestone and due date with link to complete and link to edit</li>
      </ul>