<h1>Create a goal for your team to acheive!</h1>


<form action="/new" method="POST">
<div class="form-group">
    <label for="description">What is your big, hairy, audacious goal?</label>
    <input id="description" class="form-control" type="text" name="description">
</div>
<div class="form-group">
    <label for="dueDate">When do you want to acheive this goal?</label>
    <input id="dueDate" class="form-control" type="date" name="dueDate">
</div>
<input type="hidden" name="team" value="<%= team.id %>">
<input class="btn" type="submit">
</form>
