<h1>Add a milestone to your project</h1>


<form action="/pro" method="POST">
<div class="form-group">
    <label for="name">What is your new milestone?</label>
    <input id="name" class="form-control" type="text" name="name">
</div>
<div class="form-group">
    <label for="due-date">When should you complete this milestone?</label>
    <input id="due-date" class="form-control" type="date" name="due-date">
</div>
<input class="btn" type="submit">
</form>
